# Visual Studio files
.vs/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Build outputs
x64/
Win32/
Debug/
Release/
*/Debug/
*/Release/

# Precompiled Headers
*.pch

# Compiled libraries
*.lib
*.dll

# Executables
*.exe